<%- include('partials/header') %>
<div class="table-wrapper">
    <% if(products && products.length > 0) { %>

        <table class="table table-hover">
            <thead class="thead-dark"> <!-- แก้จาก thread เป็น thead -->
                <tr>
                    <th scope="col">Product_ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th> <!-- แก้จาก Description เป็น Image -->
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Category_ID</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach((product, index) => { %>
                    <tr>
                       <th scope="row"><%= product.product_id %></th>
                       <td><%= product.product_name %></td>
                       <td><img src="assets/img/<%= product.product_img %>" class="rounded-circle product-img"/></td>
                       <td><%= product.product_des %></td>
                       <td><%= product.product_price %></td>
                       <td><%= product.product_quanlity %></td> <!-- แก้จาก product.product_quanlity เป็น product.product_quantity -->
                       <td><%= product.category_id %></td>
                       <td>
                        <a href="/edit/<%= product.product_id %>" target="_blank" class="btn-sm btn-success">Edit</a>
                        <a href="/delete/<%= product.product_id %>" target="_blank" class="btn-sm btn-delete">Delete</a>
                       </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %> 
        <p class="text-center">No product found. Go <a href="/add">here</a> to add products</p>
    <% } %>
</div>
</body>
</html>
